pipeline/copy100files.json
{
	"name": "copy100files",
	"properties": {
		"activities": [
			{
				"name": "Get Metadatafrominput files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dsadlsinputfile",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filterfiles",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadatafrominput files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadatafrominput files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'houseprice')",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}