pipeline/CopySQLTabletoAnotherSQLtblre.json
{
	"name": "CopySQLTabletoAnotherSQLtblre",
	"properties": {
		"activities": [
			{
				"name": "Lookupdatafrom mappinhg",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT  * FROM [@{pipeline().parameters.SchemaS}].[@{pipeline().parameters.tableS}] where ISActive=1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DSSQLDBwithouttablename",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachtable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookupdatafrom mappinhg",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookupdatafrom mappinhg').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopytoSQLtables",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DSForSecondSQLDb",
									"type": "DatasetReference",
									"parameters": {
										"tableS": {
											"value": "@split(item().tablename,'.')[1]",
											"type": "Expression"
										},
										"SchemaS": {
											"value": "@split(item().tablename,'.')[0]",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DSDynamicSQLDBtablewithParameters",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@pipeline().parameters.tablsink",
											"type": "Expression"
										},
										"schema": {
											"value": "@pipeline().parameters.Schemasink",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"tableS": {
				"type": "string",
				"defaultValue": "Mapping"
			},
			"SchemaS": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"tablsink": {
				"type": "string"
			},
			"Schemasink": {
				"type": "string"
			}
		},
		"annotations": []
	}
}