pipeline/Dynamicallygetfilesupdates.json
{
	"name": "Dynamicallygetfilesupdates",
	"properties": {
		"activities": [
			{
				"name": "Get Metadatafiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DsADLSdynamicfolder",
						"type": "DatasetReference",
						"parameters": {
							"foldername": {
								"value": "@pipeline().parameters.foldername",
								"type": "Expression"
							},
							"filenm": {
								"value": "@pipeline().parameters.filename",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadatafiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadatafiles').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DsADLSdynamicfolder",
									"type": "DatasetReference",
									"parameters": {
										"foldername": {
											"value": "@pipeline().parameters.foldername",
											"type": "Expression"
										},
										"filenm": {
											"value": "@pipeline().parameters.filename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DsADLSdynamicfolder",
									"type": "DatasetReference",
									"parameters": {
										"foldername": {
											"value": "@pipeline().parameters.sinkfolder",
											"type": "Expression"
										},
										"filenm": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"foldername": {
				"type": "string",
				"defaultValue": "container1"
			},
			"filename": {
				"type": "string"
			},
			"sinkfolder": {
				"type": "string"
			}
		},
		"annotations": []
	}
}