pipeline/getmetadata.json
{
	"name": "getmetadata",
	"properties": {
		"activities": [
			{
				"name": "Get Metadataof input file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dsforadlssink",
						"type": "DatasetReference"
					},
					"fieldList": [
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "checklastmodifieddate",
				"description": "checklastmodifieddate",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadataof input file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(formatDatetime(utcnow(),'yyyy-mm-dd'),formatDatetime(activity('Get Metadataof input file').output.lastModified,'yyyy-mm-dd'))",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}